@media only screen and (max-width: 768px) {
  html {
    background: #fff;
  }

  body {
    background-color: #e5e5e5;
    border-bottom-left-radius: 0;
    width: 375px;
    max-width: 375px;
  }

  .flex-conatiner,
  header {
    overflow: hidden;
    background-color: #fff;
    width: 375px;
  }

  header {
    position: relative;
  }

  .logo {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    margin-top: 58px;
    background-color: #fff;
  }

  .see-project-btn a {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #396df2;
    width: 120px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #396df2;
    padding-left: 8px;
  }

  .logo h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #6070ff;
  }

  .logo h2 a {
    text-decoration: none;
    width: 76px;
    height: 20px;
  }

  .logo h2 a :hover {
    text-decoration: underline;
  }

  .wrapper {
    max-width: 375px;
    display: grid;
    gap: 12px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom-left-radius: 0;
  }

  .header-wrapper,
  .about-wrapper {
    width: 375px;
    display: flex;
    flex-direction: column;
    height: 718px;
    margin-top: 0;
    margin-left: 0;
    background-image: url(/assets/images/header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fff;
    border-bottom-left-radius: 70px;
  }

  .text {
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  }

  .text h2 {
    display: flex;
    width: 327px;
    height: 150px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 100px;
  }

  .text p {
    width: 327px;
    height: 146px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
  }

  .social-media {
    margin-left: 24px;
    margin-top: 0;
  }

  .list-item li {
    flex: none;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-top: 12px;
  }

  .work-buttons ul li a {
    flex: none;
    text-decoration: none;
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    color: #6070ff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .about-me-list ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .social-media .icon-a a {
    text-decoration: none;
    color: #7f8cff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 117px;
    height: 24px;
  }

  .list-project li,
  .work-buttons ul li {
    list-style-type: none;
  }

  .about-me-list ul li {
    list-style-type: none;
    height: 24px;
    margin-left: 12px;
    margin-top: 24px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 0;
    list-style-type: none;
    padding: inherit;
  }

  .social-media ul li {
    max-width: 170.17px;
    max-height: 20px;
  }

  .twitter {
    width: 19.99px;
    height: 19.96px;
    margin-right: 19px;
  }

  .linkedin {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }

  .meduim {
    width: 20px;
    height: 16px;
    margin-right: 20px;
  }

  .github {
    width: 17.99px;
    height: 20px;
    margin-right: 19px;
  }

  .anglelist {
    width: 14.17px;
    height: 20px;
  }

  .work-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 327px;
    background-color: #fff;
    height: 552px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 114px;
    border-radius: 16px;
    border-color: #dfe1e6;
    padding: 16px;
    gap: 12px;
  }

  .work-section {
    display: flex;
    flex-direction: column;
  }

  .snapshoot-potofolio {
    flex: none;
    width: 295px;
    height: 220px;
    background-image: url(/assets/images/Snapshoot-Portfolio.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 8px;
    justify-content: center;
  }

  .work-txt h2 {
    width: 295px;
    height: 36px;
    color: #172b4d;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .list-project,
  .list-project-story {
    display: inline-flex;
    width: 226px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
    line-height: 16px;
    justify-content: space-between;
    overflow: auto;
    list-style-type: none;
  }

  .first-element-ul {
    width: 55px;
    height: 16px;
    color: #344563;
    display: inline;
  }

  .work-paragraph {
    width: 295px;
    height: 76px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .work-buttons {
    flex: none;
    order: 0;
  }

  .work-buttons ul {
    display: flex;
    height: 24px;
    width: 240px;
    align-items: flex-start;
    padding: 0;
  }

  .work-buttons .html {
    width: 53px;
  }

  .work-buttons .css {
    width: 45px;
  }

  .work-buttons .js {
    width: 89px;
  }

  .story-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 327px;
    background-color: #fff;
    height: 596px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 114px;
    border-radius: 16px;
    border-color: #dfe1e6;
    padding: 16px;
    gap: 12px;
  }

  .story-snapshoot-potofolio {
    flex: none;
    width: 295px;
    height: 220px;
    background-image: url(/assets/images/Snapshoot-portofolio-stories.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 8px;
    justify-content: center;
  }

  .header-1 {
    height: 80px;
  }

  .list-project-story {
    margin-top: 40px;
  }

  .snapshoot-potofolio2 {
    flex: none;
    width: 295px;
    height: 220px;
    background-image: url(/assets/images/Snapshoot-Portfolio1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 8px;
    justify-content: center;
  }

  .story-snapshoot-potofolio2 {
    flex: none;
    width: 295px;
    height: 220px;
    background-image: url(/assets/images/story2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 8px;
    justify-content: center;
  }

  .about-wrapper {
    background-color: #fff;
    background-image: none;
    border-top-right-radius: 74px;
    border-bottom-left-radius: 0;
    margin-top: 114px;
    height: auto;
    width: 375px;
  }

  .see-project-btn .get-resume-link {
    width: 138px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .list-container {
    list-style-type: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .list-icon {
    background-image: url(/assets/images/Vector.png);
  }

  .list-item {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    list-style-type: none;
    display: contents;
  }

  .list-item li img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }

  .list {
    border-block-width: 1px;
    border-bottom-style: inset;
  }
}
